.upper-nav-bar{
   display: flex;
   justify-content: flex-end;
   height: 50px;
   align-content: center;
   border-bottom: rgb(185, 185, 185) solid 1px;
   z-index: -1;
   
}

#upper-nav-sticky{
   position: fixed;
   top: 0;
   width: 100%;
   background-color: white;
   z-index: 1;
}

.sign-in-nav-bar{
   padding-right: 60px;
}

/* .nav-bar-sign-up-btn{
} */

/* .nav-bar-log-in-btn{

} */


.logo-logged-out{
   width: 40px;
   height: 40px;
   margin-right: 66.25%;
   margin-top: 6px;
}

.logo-logged-in{
   width: 40px;
   height: 40px;
   margin-right: 56%;
   margin-top: 3px;
}


.nav-bar-btn {
    margin: 8px 7px 8px 17px;
    border-radius: 4px;
    padding: 0px 12px;
    font-weight: 600;
    color: white;
    background-color: #2bb24c;
}


.nav-bar-btn:hover{
   background-color: #279e45;
}
