.today-header{
   margin-left: 60px;
}

.desc-header{
   margin-left: 60px;
   margin-right: 100px;
   margin-top: -10px;
   font-weight: 400;
   color: gray;
   border-bottom: rgb(212, 212, 212) solid 1px;
}

.a-tag{
   text-decoration: none;
}

.news-explore-title{
   color: black;
}

.news-explore-title:hover{
   /* text-decoration: underline;  */
   transform: scale(1.005); 
}


.news-exlore-li:first-child{
 margin-top: 40px;
}

.news-explore-li{
   display: flex;
   flex-direction: row;
   margin-left: 30px;
   list-style: none;
   padding: 30px;
   width: 65%;
   font-size: 14px;
}

.news-explore-img{
   margin-top: 25px;
   border-radius: 0.2rem;
   height: 78px;
   width: 130px;
   float: left;
}

.news-explore-author{
   font-weight: 400;
   color: gray;
   font-size: 14px;
   margin-top: -7px;
}

.news-explore-content{
   color: gray;
   font-size: 14px;
   margin-top: -5px;
}

.title-author-desc-div{
   margin-left: 140px;
   width: 530px;
   margin-right: 20px;
}