.source-title{
   text-decoration: none;
   font-size: 36px;
   margin-left: 60px;
   color: black;
   font-weight: 600;
}

.bottom-border{
   border-bottom: rgb(212, 212, 212) solid 1px;
   margin-left: 50px;
   margin-right: 100px;
}


.a-tag{
   text-decoration: none;
}

.article-title{
   color: black;
}

.article-title:hover{
   /* text-decoration: underline; */
   transform: scale(1.005);
}

.source-title:hover{
   /* text-decoration: underline; */
   transform: scale(1.05);
}

.news-exlore-li:first-child{
 margin-top: 30px;
}

.news-explore-li{
   display: flex;
   flex-direction: row;
   margin-left: 30px;
   list-style: none;
   padding: 30px;
   width: 65%;
   font-size: 14px;
}

/* .news-explore-img{
   margin-top: 25px;
   border-radius: 0.2rem;
   height: 78px;
   width: 130px;
   float: left;
} */

.news-explore-author{
   font-weight: 400;
   color: gray;
   font-size: 14px;
   margin-top: -7px;
}

.read-later-li-a-tag-div-name {
   margin-right: 13px;
}

.news-explore-content{
   color: gray;
   font-size: 14px;
   margin-top: -5px;
}

.title-author-desc-div-show{
   margin-left: 140px;
   width: 530px;
   margin-right: 20px;
}

.source-read-later-button {
   border: none;
   display: block;
   position: relative;
   flex-direction: column;
   background: white;
   height: fit-content;
}

.source-read-later-button:hover {
   transform: scale(1.06)
}

.add-source-read-later-icon {
   /* height: 40px;
   width: 40px; */
   font-size: 40px;
} 

.delete-source-read-later-button {
   border: none;
   display: block;
   position: relative;
   flex-direction: column;
   background: white;
   height: fit-content;
}

.delete-source-read-later-button:hover {
   transform: scale(1.06)
}

.delete-source-read-later-icon {
   /* height: 40px;
   width: 40px; */
   font-size: 40px;
}