.user-bar-container {
    font: 1em sans-serif;
    font-size: 13px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 51px;
    /* padding-right: 23px; */
    /* padding-left: 17px; */
    background: #d9d9d9;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 2;
}

.user-nav-today{
    margin-top: 25px;
    padding: 8px;
    /* width: 100%; */
    text-align: left;
    opacity: 1;
    transition: 0.4s;
}

.user-nav-today-container:hover {
    background-color:rgba(0, 0, 0, 0.1)
    /* opacity: 0.6;
    transform: scale(1.02);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3); */
    /* border-radius: 12px; */
}

.user-nav-read-later{
    padding: 8px;
    /* width: 100%; */
    text-align: left;
    /* opacity: 1;
    transition: 0.4s; */
}

.user-nav-read-later-container:hover {
    background-color:rgba(0, 0, 0, 0.1)
    /* opacity: 0.6;
    transform: scale(1.02);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3); */
    /* border-radius: 12px; */
}
.user-nav-filter-container:hover {
    background-color:rgba(0, 0, 0, 0.1)
    /* opacity: 0.6;
    transform: scale(1.02);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3); */
    /* border-radius: 12px; */
}
.user-nav-filter{
    padding: 8px;
    /* width: 100%; */
    text-align: left;
    transition: 0.4s;
    opacity: 1;
}

.user-nav-feeds-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 19px;
}

.user-nav-feed-follow-item{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    opacity: 1;
    transition: 0.4s;
    /* width: 100% */
}
.user-nav-feed-follow-item-container:hover {
    background-color:rgba(0, 0, 0, 0.1)
    /* opacity: 0.6;
    transform: scale(1.02);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3); */
    /* border-radius: 12px; */
}

.user-nav-bar-elements-container{
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 100%;
    margin: 50px 5px 5px 5px;
    
}

.user-nav-feeds {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    /* padding: 8px; */
    width: 100%;
}

.user-nav-add-content:hover {
    /* opacity: 2.0;    */
    background-color:rgba(0, 0, 0, 0.1)
    /* transform: scale(1.02); */
    /* box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3); */
    /* border-radius: 12px; */
}

.user-nav-add-content{
    position: absolute;
    bottom: 0;
    opacity: 1;
    transition: 0.4s;
    width: 100%;
    /* align-content: center; */
    /* align-items: center; */
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    padding: 7% 0%;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.news-api-shoutout{
  font-size: 10px;
  font-weight: 600;
  /* text-decoration: none; */
  color: #414141;
  margin-top: 3px;
}

img[class^="icon-user"] {
    height: 20px;
    width: 20px;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 12px;
}

.element-container{
    display: flex;
    align-content: flex-start;
    text-decoration: none;
    color: rgba( 0, 0, 0, 0.7 );
}

div[class^="title-user"] {
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 13px;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 28px;
}

.user-nav-feed-follow-item {
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 160px;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 13px;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 28px;
    text-decoration: none;
}

.user-nav-feed-follow-item-container {
    display:flex
}

.user-nav-feed-follow-item-container {
    justify-content: space-between;
    margin-left: 8px;
}

.user-nav-unfollow-btn {
    background: inherit;
    border: none;
}

.user-nav-unfollow-btn:hover {
    background-color:rgba(0, 0, 0, 0.1);
}

.add-content-container{
    padding: 11px 17px 10px 11px;
    display:flex;
    justify-content: center;
}

.plus-icon {
    height: 20px;
    width: 20px;
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 12px;
}

.no-underline{
    text-decoration: none;
}

.user-nav-feeds-title{
    margin-top: 24px;
    text-transform: uppercase;
    font-size: 11px;
    opacity: 0.7;
    -webkit-font-smoothing: antialiased;
}