.sessionForm{
   display: block;
   border-radius: 5px;
   background-color: #fafafa;
   padding: 30px;
   margin: 0 auto;
   width: 133%;
   position: sticky;
   height: 600px;
   margin-left: -20%;
   /* margin-top: -240px; */
}

.sessionForm-div{
   text-align: center;
}

.input-btns {
   color: rgb(139, 139, 139);
   /* border-radius: 3px; */
   /* margin-bottom: 3px; */
   border: 1px solid gray;
   padding: 4px;
   background-color: #eaeaea;
   width: 72%;
   height: 30px;
}

.input-top{
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.input-bottom{
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   margin-bottom: 5px;
}

.sessionForm-submit{
   background-color: green;
   border-radius: 5px;
   color: white;
   padding: 4px 14px;
   margin-top: 9px;
   width: 76%;
   height: 40px;
}

.sessionForm-greeting{
   margin: 0px;
   font-weight: 600;
}

.errors-li {
    /* text-decoration: none; */
    list-style-type: none;
    /* size: 12px; */
    font-size: 12px;
    margin-bottom: 1px;
    color: #dc0404;
}

.errors-li:first-child{
   margin-top: 7px;
}

.log {
   width: 66%
}

.logbut {
   width: 69%;
   text-transform: uppercase;
}

.logform {
   width: 109%
}